@import "./_mixins.scss";
@import "./_variables.scss";

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.btn {
  height: 35px;
  padding: 5px 30px;
  // border-radius: 13px;
  margin: 0px 12px;
  cursor: pointer;
  &.blue {
    background: $blue;
    color: #fff;
  }
  &.pink {
    background: $pink;
    color: #fff;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
  &:hover {
    opacity: 0.9;
  }
  &:active {
    border-style: none;
  }
}
