$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

$pc-padding: 10%;
$phone-padding: 20px;
$pc-font-size: 24px;
$phone-font-size: 30px;

$grass-green: #2ed97d;
$maya-blue: #86b7fe;
$dodger-blue: #0099ff;
$dodger-blue-with-25opacity: #008ae646;
$electric-blue: #008ae6;
$white: #fff;
$white-smoke: #f7f7f7;
$whisper: #e6e6e6;
$charcoal: #444444;
$night-rider: #333;
$black: #000;
$persian-red: #e52525;
$bloodred: #d7002e;
$bloodred-with-25opacity: #d7002f42;
$pink: #e67f7f;

$footerHeight: 300px;
$MobileNavHeight: 70px;
$SideBarWidth: 250px;

$Z-INDEX-NORMAL: 0;
$Z-INDEX-MOBILE-NAV: 200;
$Z-INDEX-DROPDOWN-MENU: 200;
$Z-INDEX-HEADER: 300;
$Z-INDEX-MODAL: 400;
$Z-INDEX-SPINNER: 500;
