$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

$pc-padding: 10%;
$phone-padding: 20px;
$pc-font-size: 24px;
$phone-font-size: 30px;

$grass-green: #2ed97d;
$blue: #0099ff;
$electric-blue: #008ae6;
$white-smoke: #f7f7f7;
$whisper: #e6e6e6;
$charcoal: #444444;
$night-rider: #333;
$persian-red: #e52525;
$bloodred: #d7002e;
$pink: #e67f7f;
$white: #fff;

$footerHeight: 300px;
$MobileNavHeight: 70px;
