@import "../../scss/mixins";
@import "../../scss/_variables";

.FooterBar {
  padding-bottom: $MobileNavHeight; // prevent overlap with MobileNav
  @include pc-width {
    padding-bottom: 0px; // hide padding without MobileNav
  }

  a {
    text-decoration: none;
    color: #dee2e6;
    &:hover {
      color: $white;
    }
  }

  footer {
    text-align: center;
    background: #272e33;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 16px;
      line-height: 1.5rem;
      margin-bottom: 8px;
      &.fans-club > a {
        padding: 10px 25px;
        border: 1px solid $white;
      }
    }
  }
  .footer-block {
    color: $white;
    background: #30363b;
    min-height: 200px;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 10vw 0px 10vw;
    text-align: left;
    .column {
      display: block;
      flex: 1;
      min-width: 100%;
      height: 150px;
      @include pc-width {
        min-width: 25%;
      }
      &.fake {
        display: none;
        @include pc-width {
          display: block;
        }
      }
      &.fans-container {
        text-align: center;
      }
      p.blue {
        margin: 10px 0px;
        font-size: 20px;
        color: #40a7ff;
      }
    }
  }
  .copyright {
    color: $white;
    margin: 0px;
    height: 105px;
    line-height: 105px;
    font-size: 20px;
    @include pc-width {
      height: 66px;
      line-height: 66px;
    }
  }
}
