@import "../../scss/mixins";
@import "../../scss/_variables";

.HeaderBar {
  position: sticky;
  top: 0px;
  z-index: $Z-INDEX-HEADER;

  header {
    background: $persian-red;
    display: flex;
    width: 100%;
    overflow: auto;
    text-align: center;
    padding: 0px 20px;
    font-size: 16px;
    @include pc-width {
      padding: 0px;
      background: $white;
    }
  }

  .logo-area {
    height: 100%;
    line-height: 67px;
    width: 50%;

    text-align: left;
    font-size: 28px;
    transition: 0.4s;
    cursor: pointer;
    * {
      color: $white;
    }
    #brandIcon {
      width: 180px;
      vertical-align: middle;
    }
    @include pc-width {
      text-align: center;
      max-width: 300px;
      flex: 2;
      &:hover {
        background: $gympoolblue;
      }
    }
  }
  .menu-area {
    height: 100%;
    line-height: 67px;
    text-align: center;
    display: none;
    
    @include pc-width {
      flex: 4;
      display: block;
    }
    a:link,
    a:visited {
      color: $black;
    }
    li {
      display: inline-block;
      margin: 0px 15px;
    }
  }
  .search-bar {
    height: 100%;
    line-height: 67px;
    text-align: center;
    display: none;
    @include pc-width {
      flex: 3;
      display: block;
    }
    .search-select {
      display: inline-block;
      height: 32px;
      width: 5rem;
      vertical-align: middle;
      background-color: $white;
      border: 0px;
      outline: 1px solid $whisper;
      outline-offset: 0px;
      border-radius: $border-readius 0 0 $border-readius;
      box-sizing: border-box;
      padding: 5px;
    }
    .search-text-box {
      display: inline-block;
      height: 34px;
      vertical-align: middle;
      max-width: calc(100% - 10rem);
      border: 1px solid $whisper;
      box-sizing: border-box;
      padding: 5px;

    }
    .search-btn {
      display: inline-block;
      vertical-align: middle;
      width: 4rem;
      padding: 0px;
      margin-right: 0px;
      border-radius: 0 $border-readius  $border-readius 0    }
  }
  .login-area {
    height: 100%;
    line-height: 67px;
    max-width: 20%;
    display: none;
    @include pc-width {
      flex: 2;
      display: block;
    }
    li {
      display: inline-block;
      a {
        margin: 0px 10px;
         text-decoration: none;
      }
      button {
        cursor: pointer;
        font-size: 20px;
        padding: 0;
        margin: 0px 10px;
        border: none;
        background-color: transparent;
        color: $gympoolblue;
      }
    }
  }
  .mobile-menu-area {
    position: absolute;
    right: 20px;
    .trigger-button > div {
      width: 35px;
      height: 3px;
      background-color: $white;
      margin: 6px 0;
      transition: 0.4s;
    }
    .closed .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-8px, 6px);
    }
    .closed .bar2 {
      opacity: 0;
    }
    .closed .bar3 {
      -webkit-transform: rotate(45deg) translate(-5px, -5px);
      transform: rotate(45deg) translate(-5px, -5px);
    }
    @include pc-width {
      display: none;
    }
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: $Z-INDEX-HEADER;
    top: 66px;
    left: 0;
    background-color: $persian-red;
    overflow-y: hidden;
    transition: 0.5s;
    &.open {
      height: 100%;
    }
    .overlay-content {
      position: relative;
      width: 100%;
      text-align: left;
      margin-top: 30px;
      padding: 0px 20px;
    }

    ul {
      margin-bottom: 2em;
    }
    li {
      color: $white;
      line-height: 3rem;
      display: block;
    }
    a {
      font-size: 20px;
      color: $white;
    }
  }
}
