@import "../../scss/mixins";
@import "../../scss/_variables";

.MobileNav {
  .flex-container {
    z-index: $Z-INDEX-MOBILE-NAV;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: #fff;
    color: $charcoal;
    font-size: 14px;
    a {
      opacity: 0.3;
      &:visited,
      &:active {
        color: $charcoal;
      }
      &.active {
        opacity: 1;
      }
    }
    div {
      text-align: center;
      width: 33%;
      height: $MobileNavHeight;
      padding: 5px;
      img {
        border-radius: 50%;
        width: 40px;
      }
    }
    @include pc-width {
      display: none;
    }
  }
}
