@import "../../scss/mixins";
@import "../../scss/_variables";

.record-box {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  padding: 20px $phone-padding;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  opacity: 0.9;
  color: #fff;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/world_gym__1448962972_16f5e373.jpg");
  background-size: cover;
  border-radius: 12px;
  &:hover {
    opacity: 1;
  }
  @include pc-width {
    background: #ffffff;
    color: #000;
    border-radius: 0;
    width: 100%;
    height: 143px;
    padding: 10px 15px;
    font-size: $pc-font-size;
    min-height: auto;
    display: flex;
  }

  .font-size-24 {
    font-size: 24px;
  }
  .font-size-20 {
    font-size: 20px;
  }
  .font-size-18 {
    font-size: 18px;
  }
  .font-size-14 {
    font-size: 14px;
  }

  #remark {
    display: none;
    @include pc-width {
      display: block;
    }
  }
  .dark-gray-text {
    color: $charcoal;
  }
  p {
    margin: 0px;
    line-height: 1.5rem;
    @include pc-width {
      line-height: 2rem;
    }
  }
  .image-block {
    display: none;
    @include pc-width {
      border: 1px solid $whisper;
      min-width: 150px;
      overflow: hidden;
      display: block;
      width: 213px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .text-box-left {
    padding-top: 10px;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    @include pc-width {
      flex: 3;
      padding-left: 3%;
    }
  }
  .text-box-right {
    padding-top: 20px;
    text-align: right;
    @include pc-width {
      flex: 3;
      padding-right: 3%;
    }
  }
}

.record-box.xs {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  padding: 20px $phone-padding;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/world_gym__1448962972_16f5e373.jpg");
  background-size: cover;
  border-radius: 12px;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
  .text-box-left {
    padding-top: 10px;
    text-align: left;
  }
  .text-box-right {
    padding-top: 20px;
    text-align: right;
  }
  .view-count {
    position: absolute;
    bottom: 24px;
  }
  .image-block {
    display: none;
    img {
      width: 100%;
      height: auto;
    }
  }
  #remark {
    display: none;
  }
}
