@import "../../scss/mixins";
@import "../../scss/_variables";

.records {
  width: 100%;

  .container {
    padding: $phone-padding;
    height: 100%;
    @include pc-width {
      padding: 0px $pc-padding;
    }
  }
  .you-should-know {
    display: none;

    box-sizing: border-box;
    height: 307px;
    background-image: url("../assets/bg.png");
    color: $white;
    padding: 60px $phone-padding 150px;
    width: 100%;
    @include pc-width {
      display: block;
      padding: 52px $pc-padding;
    }
    p {
      font-size: 30px;
      @include pc-width {
        font-size: 40px;
      }
      a:link,
      a:visited {
        color: #dee2e6;
      }
      a:hover {
        color: $white;
      }
      &:last-child {
        font-size: $pc-font-size;
      }
    }
    a {
      color: $white;
    }
  }
  .list-header {
    margin: 10px 0px;
    @include pc-width {
      display: flex;
    }
    div {
      width: 100%;
      vertical-align: middle;
      display: inline-block;
    }
    .search-bar {
      input {
        border: $whisper solid 1px;
        border-radius: 10px;
        height: 40px;
        padding-left: 20px;
        font-size: 20px;
        width: 100%;
        &:focus-visible {
          outline: none;
        }
      }
      .search-button {
        padding-right: 10px;
        cursor: pointer;
        color: $whisper;
        font-size: 20px;
        float: right;
        background-color: transparent;
        height: 40px;
        border: none;
        right: 0;
        position: absolute;
      }
      position: relative;
      @include pc-width {
        flex: 1;
      }
    }
    .query-fun {
      overflow: auto;
      white-space: nowrap;
      .country-tab-container {
        list-style-type: none;
        height: 100%;
        border-color: $whisper;
        border-radius: 10px;
        margin-left: 20px;
        padding: 0 10px;
      }
      .country-tab {
        display: inline-block;
        text-align: center;
        padding: 0px 10px;
        cursor: pointer;
        &.active {
          background-color: $whisper;
          color: $persian-red;
        }
      }

      @include pc-width {
        flex: 2;
      }
    }
    .filter,
    .sorter {
      width: 145px;
      margin-left: 10px;
    }
  }

  .record-container {
    .pagination-block {
      height: 100px;
      margin-top: 50px;
      text-align: center;
      .pagination-btn {
        cursor: pointer;
        margin: 0px 10px;
        padding: 10px 25px;
        border: 1px solid $whisper;
        color: #0058e5;
        @include pc-width {
          margin: 0px 50px;
        }
      }
    }
  }
}
