@import "../../scss/mixins";
@import "../../scss/_variables";

.Register {
  background: $white-smoke;
  text-align: center;
  width: 100%;
  padding: 50px $pc-padding;
  @include pc-width {
    padding: 50px $phone-padding;
  }

  .form-group {
    width: 100%;
    margin-bottom: 12px;
    display: block;
  }
  .button-box {
    margin-top: 50px;
  }
  a:link,
  a:visited {
    color: $dodger-blue;
  }
  a:hover {
    color: $electric-blue;
  }
}
