@import "../../scss/mixins";
@import "../../scss/_variables";
.ResetPassword {
  .container {
    width: 100%;
    padding: 50px $pc-padding;
    height: 100%;
    @include pc-width {
      padding: 50px $phone-padding;
    }
  }
  .login {
    background: #f5f7f8;
    text-align: center;
  }

  .form-group {
    width: 100%;
    margin-bottom: 12px;
    display: block;
  }
  .text-box {
    padding: 10px;
    border: 1px solid #707070;
    margin-bottom: 40px;
    width: 30%;
    min-width: 250px;
    height: 57px;
    line-height: 57px;
    display: block;
    margin: 0px auto;
    &.is-invalid,
    &.is-invalid:focus {
      border-color: #dc3545;
      outline: 0;
    }
  }
  .button-box {
    margin-top: 50px;
  }
}
