@import "../../scss/mixins";
@import "../../scss/_variables";
.ResetPassword {
  .container {
    width: 100%;
    padding: 50px $pc-padding;
    height: 100%;
    @include pc-width {
      padding: 50px $phone-padding;
    }
  }
  .login {
    background: $white-smoke;
    text-align: center;
  }

  .form-group {
    width: 100%;
    margin-bottom: 12px;
    display: block;
  }

  .button-box {
    margin-top: 50px;
  }
}
