@import "../../scss/mixins";
@import "../../scss/_variables";

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.btn {
  height: 35px;
  padding: 5px 30px;
  border: none;
  border-radius: 35px;
  margin: 0px 12px;
  cursor: pointer;

  &.blue {
    background: $dodger-blue;
    color: $white;
  }
  &.pink {
    background: $pink;
    color: $white;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
  &:hover {
    opacity: 0.9;
  }
  &:active {
    border-style: none;
  }
}
.text-box {
  padding: 20px;
  border: 1px solid $whisper;
  margin-bottom: 40px;
  width: 30%;
  min-width: 250px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 0px auto;
  border-radius: 57px;
  &:focus {
    border-color: $maya-blue;
    box-shadow: 0 0 0 0.25rem $dodger-blue-with-25opacity;
  }
  &:focus-visible {
    outline: none;
  }
  &.is-invalid {
    border-color: $bloodred;
    &:focus {
      box-shadow: 0 0 0 0.25rem $bloodred-with-25opacity;
    }
  }
}
