#react-spinner {
  z-index: 99999;
  position: fixed;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  animation: rotate1 1.5s ease 0s infinite;

  &.hide {
    display: none;
  }
  &.show {
    display: block;
  }

  @keyframes rotate1 {
    0% {
      transform: translateY(0px);
      transform-origin: center;
    }
    70% {
      transform: translateY(-150px);
      transform-origin: center;
    }
    100% {
      transform: translateY(0px);
      transform-origin: center;
    }
  }
}
