@import "../../scss/mixins";
@import "../../scss/_variables";

.UserLogin {
  .container {
    width: 100%;
    height: 100%;
    padding: 50px $pc-padding;
    @include pc-width {
      padding: 50px $phone-padding;
    }
  }
  .login {
    text-align: center;
  }

  .form-group {
    width: 100%;
    margin-bottom: 12px;
    display: block;
  }
  .button-box {
    margin-top: 50px;
  }
  // a:link,
  // a:visited {
  //   color: $dodger-blue;
  // }
  // a:hover {
  //   color: $electric-blue;
  // }
}
