@import "../../scss/mixins";
@import "../../scss/_variables";
.home {
  padding: 28px 56px;
  .search-bar {
    margin-bottom: 40px;
    width: 30%;
    display: block;
    > input:first-child {
      min-width: 250px;
    }
  }
  .list-header {
    display: flex;
    margin-bottom: 5px;

    #recordCount {
      margin-bottom: 5px;
    }
    div {
      flex: 1;
      &:last-child {
        text-align: right;
      }
    }
    .sorter {
      width: 145px;
      margin-left: 10px;
    }
  }
  ul {
    li.list-item {
      font-size: 24px;
      padding: 9px;
      display: flex;
      height: 143px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 5px #00000029;
      transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      margin-bottom: 24px;
      &:hover {
        background: #eee;
      }
      div {
        flex: 1;

        &.image-block {
          width: 30%;
          min-width: 150px;
          overflow: hidden;
          position: relative;
          padding: 0.5%;
          .image-box {
            width: 80%;
            min-width: 150px;
            height: 120px;
            position: relative;
            overflow: hidden;
            p {
              z-index: 10;
              position: absolute;
              background: $pink;
              padding: 10px;
              color: #fff;
            }
            img {
              width: 100%;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
            }
          }
        }
        &.title-block {
          min-width: 30%;
          line-height: 2.5rem;
          overflow-x: auto;
          overflow-y: hidden;
          flex: 2;
        }
        &.price-block {
          line-height: 7rem;
          text-align: right;
        }
        &.detail-block {
          text-align: right;
          line-height: 2.5rem;
        }
        &.more-block {
          text-align: center;
          max-width: 50px;
          line-height: 2.5rem;
        }
      }
    }
  }

  .more {
    height: 1.5rem;
    cursor: pointer;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 7rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transform: translate3d(-6rem, 0px, 0px);

    a {
      text-decoration: none;
    }

    &.show {
      display: block;
    }
  }
  .dropdown-item {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:hover {
      background-color: #f8f9fa;
    }
  }

  .pagination {
    margin-top: 80px;
    cursor: pointer;
  }
  .blue-text {
    color: $blue;
  }
}
