$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

$pc-padding: 10%;
$phone-padding: 20px;
$pc-font-size: 24px;
$phone-font-size: 30px;

$grassgreen: #2ed97d;
$blue: #0099ff;
$electricblue: #008ae6;
$gray: #989898;
$darkgray: #444444;
$dark: #333;
$red: #f00034;
$bloodred: #d7002e;
$pink: #e67f7f;

$footerHeight: 300px;
