@import "./_mixins.scss";
@import "./_variables.scss";
.index {
  background: #fff;
  width: 100%;

  .slider-banner {
    height: 100vh;
    position: relative;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    .mark {
      background: $grassgreen;
    }
    p {
      margin-bottom: 16px;
      &.first-line {
        margin-top: 0px;
        font-size: 40px;
      }
      &.second-line {
        font-size: $phone-font-size;
      }
    }
    a:visited {
      color: #fff;
    }

    .county-area {
      padding: 10px;
      .circles {
        li {
          display: inline-block;
          margin: 20px;
          margin-bottom: 80px;
          border-radius: 50%;
          width: 120px;
          height: 120px;
          p {
            margin: 0px;
            padding: 0;
            line-height: 120px;
            font-size: 26px;
            &:nth-child(2) {
              font-size: 17px;
              margin-top: -90px;
            }
          }
          a.area-btn {
            padding: 2px 10px;
            border: 1px solid #fff;
            color: #dee2e6;
            &:hover {
              color: #fff;
            }
          }
        }
        li:nth-child(1) {
          border: 2px solid #aa0000;
        }
        li:nth-child(2) {
          border: 2px solid #e6c01e;
        }
        li:nth-child(3) {
          border: 2px solid $grassgreen;
        }
        li:nth-child(4) {
          border: 2px solid #5196e6;
        }
      }
    }
    .text-area {
      box-sizing: border-box;
      width: 100%;
      position: absolute;

      a {
        color: $grassgreen;
      }
    }
    .background-area {
      width: 100%;
      height: 100%;
      background-image: url("../assets/bg.png");
      background-size: cover;
      background-position: center;
      &::after {
        content: " ";
        background: #222;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  .why-area {
    padding: 30px $phone-padding;
    background: #fff;
    @include pc-width {
      padding: 67px $pc-padding;
    }
    p {
      margin: 0px;
      margin-bottom: 7px;
      font-size: 28px;
      @include pc-width {
        font-size: 40px;
        margin-bottom: 20px;
      }
    }
  }
  .we-provide-them {
    box-sizing: border-box;
    text-align: center;
    padding: 50px $phone-padding 0px;
    background: #ededed;
    font-size: 30px;
    @include pc-width {
      font-size: 40px;
      padding: 50px $pc-padding 100px;
    }
    div {
      margin-top: 50px;
      font-size: $pc-font-size;
      li {
        display: inline-block;
        width: 50%;
        height: 200px;
        border-radius: 50%;
        @include pc-width {
          width: 25%;
          height: 150px;
        }
      }
    }
  }
  .you-should-know {
    box-sizing: border-box;
    height: 307px;
    background-image: url("../assets/bg.png");
    color: #fff;
    padding: 60px $phone-padding 150px;
    width: 100%;
    @include pc-width {
      padding: 52px $pc-padding;
    }
    p {
      font-size: 30px;
      @include pc-width {
        font-size: 40px;
      }
      a:link,
      a:visited {
        color: #dee2e6;
      }
      a:hover {
        color: #fff;
      }
      &:last-child {
        font-size: $pc-font-size;
      }
    }
  }
  .latst-sell {
    padding: 35px $phone-padding;
    font-size: $phone-font-size;
    @include pc-width {
      font-size: $pc-font-size;
      padding: 100px $pc-padding;
    }
    .record-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .record-box {
        width: 100%;
        @include pc-width {
          width: 298px;
        }
      }
    }
    .watch-more-block {
      height: 150px;
      line-height: 150px;
      text-align: center;
      font-size: 20px;
      .watch-more {
        padding: 10px 25px;
        border: 1px solid #080808;
        color: #080808;
      }
    }
  }
}
